.card{
    width: 200px;
    height: 200px;
    border: solid 2px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image{
    width: 100px;
    height: 100px;
}